---
title: Arhiva
id: arhiva
---

.go= link_to 'PoÄetna', @items.find { |item| item[:id] == 'index' }, :class => 'icon-arrow-left'

- sorted_articles.each do |article|
  = render 'posts', :item => article do
    = article.compiled_content
