---
title: Arhiva
id: arhiva
---

.go.back= link_to 'PoÄetna', @items.find { |item| item[:id] == 'index' }

- sorted_articles.each do |article|
  = render 'posts', :item => article do
    = article.compiled_content
