---
title: Dionice
name: Dionice
id: dionice
order: 6
---

- content_for :highlight do
  :markdown
    # Dionice

    Petra Pugar
    : voditeljica soprana

    Anita Crnčić
    : voditeljica altova

    Matej Pavlić
    : voditelj tenora

    Marino Habulan
    : voditelj basova

    #{image_tag 'dionice/highlight.jpg', alt: 'slika voditelja dionica'}

    Voditelji dionica muku muče s pretjeranim mailovima i uvažavanjem svačijeg mišljenja. Prednost je njihove dužnosti što znaju horoskopski znak, hobije, adresu i broj telefona *svakoga* člana svoje dionice što im pruža posebnu priliku da ih izbezume. Promptni i ažurni, nerijetko će iz ljubavi prema zborašima oprostiti nedolazak na probu i u evidenciji dolazaka u kućicu kraj njihovoga imena upisati plusić.

%article
  %ol
    = list_of ['Sopran', 'Alt', 'Tenor', 'Bas'] do |voice|
      = link_to voice, @items.find { |item| item[:title] == voice }, :class => voice.downcase
