---
title: Dirigenti
name: Dirigenti
id: dirigenti
order: 4
---

- content_for :highlight do
  :markdown
    # Dirigenti

    Ime             | Uloga
    --------------- | ----------------
    Jurica Bošković | dirigent
    Vinko Karmelić  | pomoćni dirigent
    Marina Jurković | pomoćna dirigentica
    Lobel Filipić   | pomoćni dirigent

    ![slika dirigenata](/images/photos/dirigenti.jpg)

%article
  :markdown
    # **Jurica** --- očinska figura
    Mudra glava umjetničkog vodstva. Kao pravi Bračanin uvijek je škrt... na riječima. Svoju ljubav prema zboru voli iskazivati čudnim epitetima i tvrdnjama kako smo "munjeni... ludi... manično opsjednuti...". U kritičnim situacijama zadržat će hladnu glavu te svojim iskustvom i poznavanjem glazbenog svijeta smiriti nemirne zboraše. Ne pojavljuje se ako nije zagarantirana neka hrana, ali zato dobro "drobom" vrši diverziju.

%article
  :markdown
    # **Vinko** --- štreber
    Na prvi pogled najstroži dirigent, izgleda jako opako, ali je zapravo dobra duša zbora. Njegovi kreativni opisi pjevanja i načina na koji moramo izvesti neki ton toliko su originalni da već vodimo evidenciju kako bismo jednog dana objavili knjigu. Mlad, jako talentiran i radišan u svakom trenutku. Njegove nas probe iscrpe, ali smo uvijek zadovoljni rezultatom.

%article
  :markdown
    # **Marina** --- bećaruša
    Nadaleko najvrckastija zborska dirigentica ikad. Uvijek prisutna, spremna za multitasking, npr. šminkanje istovremeno vodeći probu itd. Trudi se zabilježiti svaki zborski trenutak i zna sve o svakom članu. Voditeljica svih fešti i glavna zabavljačica, nikada ne propušta zborske tulume (u slučaju da ih sama i ne organizira). Uvijek se trudi ispuniti želje svojih zboraša pa tako često nekom zanimljivom pjesmom osvježi repertoar i tako razveseli pjevače.

%article
  :markdown
    # **Lobel** --- mlada nada
    Simpatičan, samozatajan i uvijek nasmiješen. Zna sve zborske tračeve, ali i najbolje čuva tajne. Njegovu ozbiljnost na probi redovito naruši pokoji nestašni čuperak na vrhu njegove glave. Oko njegovog izbora repertoara se uvijek dvoumimo, isprva mrzimo te pjesme, ali tik pred koncert "propjevamo" i zavolimo te pjesme. Kao prava mlada nada, uvijek oduševi, a predviđamo mu svijetlu dirigentsku budućnost.
