---
title: Zbor Filozofskog fakulteta u Zagrebu
name: PoÄetna
id: index
order: 0
---

- highlight = sorted_articles[0]

- content_for :highlight do
  %article.post
    = highlight.compiled_content
    %time= localize highlight[:created_at]

- sorted_articles[1..3].each do |article|
  %article.post
    %time= localize article[:created_at]
    = article.compiled_content

.go
  %a{:href => '/arhiva/'} Arhiva vijesti &rarr;
