---
title: Koncerti
name: Koncerti
id: koncerti
order: 2
---

- content_for :highlight do
  :markdown
    # Koncerti

    ![slika s jednog koncerta](/images/koncerti/highlight.jpg)

%article
  :markdown
    # Dosadašnji koncerti

    1. **Druga smotra akademskih zborova**, 2. svibnja 2012. u Hrvatskom glazbenom zavodu
    1. **Gostovanje na Godišnjem nastupu Akademskog zbora "Vladimir Prelog"**, 10. ožujka 2012. u Hrvatskom glazbenom zavodu
    1. **Božićni koncert Ad gloriam brass & Concordia discors**, 19. prosinca 2011. u Crkvi blaženoga Augustina Kažotića
    1. **Humanitarni božićni koncert**, 14. prosinca 2011. u Domu zdravlja Vrapče
    1. **Dan Filozofskoga fakulteta -- svečana sjednica**, 19. listopada 2011. na Filozofskom fakultetu
    1. **Gostovanje na koncertu Pjevačkoga zbora studenata Medicinskog fakulteta "Lege artis"**, 6. lipnja 2011. na Medicinskom fakultetu u Zagrebu
    1. **Prvi susret pjevačkih zborova fakulteta Sveučilišta u Zagrebu**, 31. svibnja 2011. u Hrvatskom glazbenom zavodu
    1. **Festival pjevačkih zborova -- Zagreb 2011.**, 20--21. svibnja 2011. u Maloj dvorani, K. d. "Vatroslav Lisinski"
    1. **Dodjela nagrada "Zlatni index"**, 16. svibnja 2010. u Hypo centru
    1. **Nastup na 20. danima Ramira i Zorana Bujasa**, 7. travnja 2011. na Filozofskome fakultetu u D7
    1. **Božićni koncert**, 15. prosinca 2010. na Filozofskome fakultetu u D7
    1. **Božićni koncert**, 8. prosinca 2010. u crkvi Bezgrešnog Začeća Blažene Djevice Marije u Lepoglavi
    1. **Dan Filozofskoga fakulteta -- svečana sjednica**, 19. listopada 2010. na Filozofskome fakultetu u D7
    1. **PRO:ljetni koncert**, 9. lipnja 2010. na Filozofskome fakultetu u D7
