---
title: Koncerti
name: Koncerti
id: koncerti
order: 2
---

- content_for :highlight do
  %h1 Koncerti

  = image_tag 'koncerti/highlight.jpg', alt: 'slika s jednog koncerta'

%article
  :markdown
    # Dosadašnji koncerti

    1. **Festa choralis zagrabiensis**, treći susret pjevačkih zborova fakulteta Sveučilišta u Zagrebu, 3. svibnja 2013., Hrvatski glazbeni zavod
    1. **Finalna emisija "Do posljednjeg zbora"**, 27. travnja 2013., HRT ([pogledajte na YouTube-u](http://www.youtube.com/watch?v=U4CvzvSnHqs))
    1. **21. dani Ramira i Zorana Bujasa**, 11. travnja 2013., FFZG
    1. **Cro-A-Porter**, 5. travnja 2013., Lauba
    1. **Humanitarna predstava GKM Vitez**, 8. ožujka 2012., kino Forum u SD „Stjepan Radić“
    1. **Doček Nove godine u emisiji "Pjevaj moju pjesmu"**, 31. prosinca 2012., HRT
    1. **Božićni koncert Ad gloriam brass & Concordia discors**, 20. prosinca 2012. u Crkvi blaženoga Augustina Kažotića
    1. **Božićni koncert - Simfonijski puhački orkestar OSRH**, 19. prosinca 2012., Velika dvorana KD „Vatroslav Lisinski“
    1. **Ivo Gamulin Gianni i prijatelji (Doris Dragović, Pastora Soler, David Elliott)**, 16. prosinca 2012., HNK Zagreb
    1. **Ivo Gamulin Gianni i prijatelji (Doris Dragović, Pastora Soler, David Elliott)**, 14. prosinca 2012., HNK Split
    1. **Dan Fakulteta elektrotehnike i računarstva -- svečana sjednica**, 23. studenoga 2012., na FER-u
    1. **85. godišnjica Odsjeka za etnologiju i kulturnu antropologiju**, 19. studenoga 2012. na FFZG-u
    1. **Gala koncert -- Zlatni zborovi**, 14. studenoga 2012. u KD "Vatroslav Lisinski"
    1. **World Cat Show**, 27. listopada 2012. u Areni Zagreb
    1. **130. obljetnica Farmaceutsko-biokemijskoga fakulteta**, 25. rujna 2012. u hotelu Westin
    1. **Open-air FFZG-a**, 15. lipnja 2012. na FFZG-u
    1. **Festival/Natjecanje pjevačkih zborova (Zagrebački glazbeni podij, CKT)**, 2. lipnja 2012. u KD "Vatroslav Lisinski"
    1. **Drugi susret zborova Sveučilišta u Zagrebu**, 2. svibnja 2012. u Hrvatskom glazbenom zavodu
    1. **Gostovanje na Godišnjem nastupu Akademskog zbora "Vladimir Prelog"**, 10. ožujka 2012. u Hrvatskom glazbenom zavodu
    1. **Božićni koncert Ad gloriam brass & Concordia discors**, 19. prosinca 2011. u Crkvi blaženoga Augustina Kažotića
    1. **Humanitarni božićni koncert**, 14. prosinca 2011. u Domu zdravlja Vrapče
    1. **Dan Filozofskoga fakulteta -- svečana sjednica**, 19. listopada 2011. na Filozofskom fakultetu
    1. **Gostovanje na koncertu Pjevačkoga zbora studenata Medicinskog fakulteta "Lege artis"**, 6. lipnja 2011. na Medicinskom fakultetu u Zagrebu
    1. **Prvi susret pjevačkih zborova fakulteta Sveučilišta u Zagrebu**, 31. svibnja 2011. u Hrvatskom glazbenom zavodu
    1. **Festival pjevačkih zborova -- Zagreb 2011.**, 20--21. svibnja 2011. u Maloj dvorani, K. d. "Vatroslav Lisinski"
    1. **Dodjela nagrada "Zlatni index"**, 16. svibnja 2010. u Hypo centru
    1. **Nastup na 20. danima Ramira i Zorana Bujasa**, 7. travnja 2011. na Filozofskome fakultetu u D7
    1. **Božićni koncert**, 15. prosinca 2010. na Filozofskome fakultetu u D7
    1. **Božićni koncert**, 8. prosinca 2010. u crkvi Bezgrešnog Začeća Blažene Djevice Marije u Lepoglavi
    1. **Dan Filozofskoga fakulteta -- svečana sjednica**, 19. listopada 2010. na Filozofskome fakultetu u D7
    1. **PRO:ljetni koncert**, 9. lipnja 2010. na Filozofskome fakultetu u D7
