---
title: Kontakt
name: Kontakt
id: kontakt
order: 7
---

- content_for :highlight do
  %article
    :markdown
      # Kontakt

      [![Adresa na Google Maps-u](/images/adresa.png)](http://maps.google.com/maps?q=FILOZOFSKI+FAKULTET,+Ivana+Lu%C4%8Di%C4%87a,+Zagreb,+Hrvatska&hl=en&ie=UTF8&ll=45.79793,15.978541&spn=0.010293,0.026157&sll=45.805732,15.977646&sspn=0.082329,0.209255&oq=filozofski+fakultet,+za&hq=FILOZOFSKI+FAKULTET,+Ivana+Lu%C4%8Di%C4%87a,+Zagreb,+Hrvatska&t=m&z=16)

      Ivana Lučića 3, Zagreb.

%article
  :markdown
    # Kontakt

    Probe se održavaju Filozofskome fakultetu u slijedećim terminima:

    Dan         | Vrijeme  | Mjesto
    ----------- | -------- | -------------
    ponedjeljak | 20:00h   | dvorane 3 i 6
    četvrtak    | 20:00h   | dvorane 2 i 3

    Dostupni smo na email adresi <zbor@ffzg.hr>.
