---
title: Kontakt
name: Kontakt
id: kontakt
order: 6
---

- content_for :highlight do
  :markdown
    # Filozofski fakultet

    [![Adresa na Google Maps-u](/images/adresa.png)](http://maps.google.com/maps?q=FILOZOFSKI+FAKULTET,+Ivana+Lu%C4%8Di%C4%87a,+Zagreb,+Hrvatska&hl=en&ie=UTF8&ll=45.79793,15.978541&spn=0.010293,0.026157&sll=45.805732,15.977646&sspn=0.082329,0.209255&oq=filozofski+fakultet,+za&hq=FILOZOFSKI+FAKULTET,+Ivana+Lu%C4%8Di%C4%87a,+Zagreb,+Hrvatska&t=m&z=16)

    Ivana Lučića 3,10 000 Zagreb.

%article
  :markdown
    # Kontakt

    Probe se održavaju Filozofskome fakultetu u slijedećim terminima:

  %table
    %tr
      %td ponedjeljak
      %td 20:00h
      %td dvorane 6 i 3
    %tr
      %td četvrtak
      %td 20:00h
      %td dvorane 2 i 3

  :markdown
    Dostupni smo na email adresi <zbor@ffzg.hr>.
