---
title: Multimedija
name: Multimedija
id: multimedija
order: 3
---

- content_for :highlight do
  %h1 Multimedija
  <iframe width="560" height="315" src="http://www.youtube.com/embed/Pr2RnXl8swc" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="http://www.youtube.com/embed/KjHaT4lQ_8E" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="http://www.youtube.com/embed/GsVjo4HIBn4" frameborder="0" allowfullscreen></iframe>
  :markdown
    Ako želite vidjeti još naših nastupa, [potražite nas](http://www.youtube.com/results?search_query=concordia+discors&oq=concordia+discors&aq=f&aqi=g10&aql=&gs_l=youtube-psuggest.3..0l10.268.3307.0.3421.17.12.0.5.5.0.125.1102.3j9.12.0...0.0.) na YouTube-u.

%article#albums
  %h1 Slike
  %ul
    %li
      %a{:href => 'https://www.facebook.com/media/set/?set=a.371744682869664.87977.160790383965096&type=3', :title => 'Strike a pose', :target => '_blank'}
        %img{:src => '/images/photos/strike_a_pose.jpg'}
        %span Strike a pose
    %li
      %a{:href => 'https://www.facebook.com/media/set/?set=a.361593283884804.85792.160790383965096&type=3', :title => 'Gostovanje na koncertu zbora Vladimir Prelog', :target => '_blank'}
        %img{:src => '/images/photos/zbor_vladimir_prelog.jpg'}
        %span Gostovanje na koncertu zbora Vladimir Prelog
    %li
      %a{:href => 'https://www.facebook.com/media/set/?set=a.207990372578430.55815.160790383965096&type=3', :title => '1. susret pjevačkih zborova fakulteta Sveučilišta u Zagrebu', :target => '_blank'}
        %img{:src => '/images/photos/susret_pjevackih_zborova.jpg'}
        %span 1. susret pjevačkih zborova fakulteta Sveučilišta u Zagrebu
    %li
      %a{:href => 'https://www.facebook.com/media/set/?set=a.163069520403849.32808.160790383965096&type=3', :title => 'Božićni koncert u Zagrebu', :target => '_blank'}
        %img{:src => '/images/photos/bozicni_koncert.jpg'}
        %span Božićni koncert u Zagrebu
