---
title: O nama
name: O nama
id: o-nama
order: 1
---

- content_for :highlight do
  :markdown
    # O nama

    ![slika Concordie discors](/images/o_nama/highlight.jpg)

%article
  :markdown
    # Tko smo mi?

    ![slika Concordie discors](/images/o_nama/ekipa.jpg)

    Mješoviti pjevački zbor Filozofskoga fakulteta *Concordia discors* djeluje od 2010. godine te okuplja šezdesetak članova, prvenstveno studenata Filozofskoga fakulteta.

    Zbor u svojemu radu sustavno potiče glazbeno stvaralaštvo studenata te naglasak daje djelima hrvatskih skladatelja, a njeguje i folklorne napjeve te svjetovna i crkvena djela klasičnih i suvremenih skladatelja. Pored mješovitoga zbora djeluju i ženski zbor, muški zbor te ženska klapa.

    Svoju kvalitetu Zbor je potvrdio na *1. natjecanju hrvatske tradicijske vokalne glazbe – Zagreb 2011.* na kojemu je osvojio drugo mjesto i srebrnu plaketu u kategoriji klasičnih folklornih zborova.

    Filozofski fakultet Sveučilišta u Zagrebu dodijelio je zboru Concordia discors godišnju nagradu *Franjo Marković* za doprinos umjetničkomu djelovanju na Fakultetu za akademsku godinu 2010./2011.

    Pored samostalnih koncerata i manjih nastupa na matičnome fakultetu AZ FFZG CD nastoji osmisliti koncertne programe koji okupljaju ljubitelje zborske glazbe unutar Sveučilišta; tako je 2011. inicirao i organizirao *1. susret pjevačkih zborova fakulteta Sveučilišta u Zagrebu*, a susret se održao i 2012. godine te time opravdao težnje izvođača za predstavljanjem glazbenih dostignuća studenata zagrebačkoga sveučilišta, a svojim održavanjem i planovima želi postati tradicijom Sveučilišta i Zagreba.

    Concordia discors surađuje i s instrumentalnim sastavima pa je tako s puhačkim ansamblom *Ad gloriam brass* održan božićni koncert krajem 2011. godine.

    Sezonu 2011./2012. obilježilo je sudjelovanje Zbora u zabavnoj emisiji Hrvatske radiotelevizije *Do posljednjeg zbora*. Unatoč tome što Concordia discors i inače izvodi popularne skladbe, prijavom u emisiju Zbor se značajnije odmaknuo od klasičnoga repertoara te se posvetio zabavnoj zborskoj glazbi, obradama popularnih skladbi izvedenih uz koreografije Tamare Curić. Nakon gotovo dvomjesečnoga sudjelovanja u emisiji i intenzivnih svakodnevnih proba Concordia discors osvojila je 3. mjesto u konkurenciji od 55 prijavljenih zborova. Ovaj izniman uspjeh postignut je uz podršku publike i Fakulteta.

    Ubrzo nakon završetka HRT-ova šoua Zbor je sudjelovao na natjecanju održanome u Koncertnoj dvorani Vatroslava Lisinskog u Zagrebu te zauzeo prvo mjesto u kategoriji i tako osvojio zlatnu plaketu na *11. natjecanju pjevačkih zborova* u sklopu *Festivala pjevačkih zborova u Zagrebu* održanoga od 1. do 3. lipnja 2012. Usto je u konkurenciji zborova iz svih kategorija osvojio pehar Hrvatskoga društva skladatelja za najbolju izvedbu djela hrvatskoga skladatelja *Dugo u noć* Josipa Kaplana.

    Smjernice koje su utkane u način rada ovoga zbora povezane su s duhom Filozofskoga fakulteta koji u svome sastavu ima mnoštvo različitih smjerova i načina razmišljanja. To su poticanje i razvoj talenata pojedinaca, raznovrsnosti i individualnosti, a kroz zajedništvo djelovanja. Naziv preuzet iz književne stilistike – *concordia discors* – odnosno *suglasje nesuglasja* na odgovarajući način označava razvoj osobnosti i slobode izraza, a sve u zajedništvu – suglasju. 

    Na inicijativu koordinatorice Zbora dr. sc. Tihane Petrović-Leš, izv. prof. na Filozofskome fakultetu Zbor je osnovao Jurica Bošković, ujedno i umjetnički voditelj. Uz njega se za umjetnički rad brinu Marina Jurković, Vinko Karmelić i Lobel Filipić.
