---
title: O nama
name: O nama
id: o-nama
order: 1
---

- content_for :highlight do
  :markdown
    # O nama

    ![A photo of Concordia discors](/images/photos/about.jpg)

%article
  :markdown
    # Tko smo mi?

    "Concordia discors" kao mješoviti pjevački zbor djeluje dvije godine, a okuplja šezdesetak članova, prvenstveno studenata Filozofskoga fakulteta. Osnovan je 2010. g. na inicijativu koordinatorice Zbora dr. sc. **Tihane Petrović-Leš**, izv. prof. na Filozofskome fakultetu.

    Nakon prvih nastupa na matičnome Fakultetu i u povodu drugih prigoda Sveučilišta, organizacije 1. susreta pjevačkih zborova Sveučilišta u Zagrebu te osvajanja srebrne plakete na 1. Natjecanju hrvatske tradicijske (vokalne) glazbe u sklopu Festivala pjevačkih zborova -- Zagreb 2011., ansambl nastoji poduzeti metodičke korake koji bitno utječu na razvoj kvalitete pjevanja, motiviranost članova te predstavljanje Zbora, Fakulteta te hrvatske tradicijske glazbe.
