---
title: Predsjedništvo
name: Predsjedništvo
id: predsjednistvo
order: 4
---

- content_for :highlight do
  %h1 Predsjedništvo
  %table
    %tr
      %td Mislav Matišić
      %td predsjednik
    %tr
      %td Matea Mrvelj
      %td dopredsjednica
    %tr
      %td Martina Crnković
      %td dopredsjednica
    %tr
      %td Marta Mihaljević
      %td spisovoditeljica
  :markdown
    ![Slika predsjedništva](/images/photos/predsjednistvo.jpg)

    Najbolji primjer suglasja nesuglasja nedvojbeno pronalazimo u Predsjedništvu zbora, tzv. "3M" koji čine predsjednik **Mislav Matišić** te dopredsjednice **Matea Mrvelj** i **Martina Crnković**. Predstavnici regija iz kojih dolaze -- Slavonije, Dalmacije i Istre -- ne odgovaraju slučajno karakterom svom zavičaju. 

    Jedno je sigurno -- ovaj trojac nekim se blagoslovom, ili prokletstvom, izvrsno slaže (ili barem tako izgleda) iako još nikomu nije jasno što oni uopće rade jer umjetničku domenu pokrivaju dirigenti, a logističku voditelji dionica i/ili njihovi zamjenici. Ipak, najveće im je zadovoljstvo tražiti od voditelja dionica da skupe podatke u roku od jednog dana pa ih gledati kako se preznojavaju pokušavajući stupiti u kontakt sa svim članovima, njih šezdesetak.

%article
  :markdown
    # **Mislav**
    Glava zbora. Zlatan i plodan kao Slavonija, poduzetan, veseljak. Sadi ideje na plodno tlo, čije plodove realizacije svi uživamo. Kao pravi bećar uvijek je raspoložen za pjesmu, ples i -- žene.

%article
  :markdown
    # **Matea**
    Srce zbora. Njezin dalmatinski temperament i specifično jezično izražavanje povezuju članove zbora čudnim nitima. Društvena i simpatična. Drži je fjaka dok ne počne sezona, u ključnim trenucima ažurni je vođa.

%article
  :markdown
    # **Martina**
    Ruke zbora. Najvrijedniji član u velikoj konkurenciji. Baš kao i Istra, ona je uvijek korak ispred sviju. Organizatorica - dogovara, surađuje, konzultira. Aktivna i pristupačna, dežurna za zadatke bilo kojeg tipa. Uz to sve, najbolje priprema rođendanske torte i kolače.

%article
  :markdown
    # **Marta**
    Dobri duh zbora. Ona je jedina osoba na svijetu o kojoj CD ima usklađeno mišljenje o jednome -- ona je miss simpatičnosti. Asocijacije na Martu su tulumi i štikle i još mnogo toga. E da, kad ne tulumari, tada postaje spisovoditeljica. Ako je netko naljuti, zaklamat će mu... note, a sve to dok uredno lakira nokte.  Koliko uživa u svojoj funkciji dokazuje činjenica da svake nove note, na radost svih članova, poprati organizacijom tuluma, čime je neslužbeno i glavni uzrok za nadimak koji naš zbor ima -- "Zbar".
