---
title: Uprava zbora
name: Uprava zbora
id: uprava_zbora
order: 5
---

- content_for :highlight do
  :markdown
    # Uprava zbora

    Mislav Matišić
    : predsjednik

    Marino Habulan
    : dopredsjednik

    Hrvoje Rodić
    : dopredsjednik

    Martina Crnković
    : tajnica

    Zrinka Lekić
    : zamjenica tajnice

    Marta Mihaljević
    : glazbena spisovoditeljica

    Matea Mrvelj
    : blagajnica

    Lucija Zlopaša
    : zamjenica blagajnice
