$total-columns: 4;
$grid-padding: 0;
$container-width: 100%;

$tablet-layout: 30em 8;
$desktop-layout: 60em 16;
$widescreen-layout: 90em 24;

$max-width: rhythm(19);
$tablet-max-width: rhythm(26);
$desktop-max-width: rhythm(29);
$desktop-max-half-width: rhythm(14);
$widescreen-max-width: rhythm(47);
$widescreen-max-half-width: rhythm(23);

$base-font-size: 16px;
$base-line-height: 24px;

$font_path: '/fonts/fontawesome/fontawesome-webfont';

$body: 'PT Sans', 'Palatino Linotype', 'Book Antiqua', Georgia, serif;
$heading: 'PT Sans Narrow', $body;

$colors: #D6C274 #D89E46 #004c54 #3D2423 #AB362E;

$text: lighten(black, 30%);

$link1: nth($colors, 5);
$link2: darken($link1, 20%);

@mixin unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin v-borders($width: 1px, $lines: 1, $font-size: $base-font-size, $border-style: $default-rhythm-border-style) {
  @each $side in left, right {
    @include apply-side-rhythm-border($side, $width, $lines, $font-size, $border-style);
  }
}
