@include at-breakpoint($desktop-layout) {

  body { @include container; }

  #header {
    @include trailer(.5);
    background-image: url('/images/header_desktop.jpg');
  }

  #logo { margin: 0; }

  nav {
    ol { max-width: none; }
    a, .active { padding: rhythm(.5); }
  }

  $main: $total-columns - 1;
  [role='main'] {
    @include pad(.5, .5);
  }

  article {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  $cols: 7;
  #highlight {
    @include span-columns($cols, $main);
    @include leader(0);
    h1 {
      $font-size: 54px;
      @include adjust-font-size-to($font-size);
      @include trailer(.5, $font-size);
    }
  }

  $cols: $main - $cols;
  #highlight ~ article, .go {
    @include span-columns($cols omega, $main);
  }

  .go {
    max-width: none;
    position: relative;
    left: - columns(2, $main);
    clear: right;
    margin-left: 0;
    a { padding-left: columns(2, $cols); }
  }

  #multimedija, #dionice {
    #highlight ~ article {
      li {
        @include span-columns($cols / 2, $cols);
        margin-bottom: gutter($cols);
        &:nth-child(2n+1) {
          clear: left;
        }
        &:nth-child(2n) {
          @include omega;
          clear: right;
        }
      }
    }
  }

  #multimedija #highlight ~ article {
    a {
      $color1: rgba(black, .5);
      $color2: nth($colors, 5);
      @include leading-border($lines: 10.25);
      @include link-colors($color1, $color2, $color2, $color1, $color2);
      @include opacity(.8);
      &:hover {
        @include opacity(1);
        text-decoration: none;
      }
      @each $class in strike-a-pose, zbor-vladimir-prelog, susret-pjevackih-zborova, bozicni-koncert {
        &.#{$class} { background-image: url('/images/multimedija/#{$class}_desktop.jpg'); }
      }
    }
  }

  #dionice #highlight ~ article {
    a {
      $font-size: 48px;
      $color1: rgba(white, .75);
      $color2: white;
      @include h-borders($lines: 5, $font-size: $font-size);
      @include v-borders($lines: 1, $font-size: $font-size);
      @include adjust-font-size-to($font-size);
      @include link-colors($color1, $color2, $color2, $color1, $color2);
      @include opacity(.5);
      @include text-shadow(none);
      &:hover {
        @include opacity(1); 
        @include text-shadow(rgba(black, .3) 1px 1px 2px);
        border-color: rgba(black, .4);
      }
      @each $voice in sopran, alt, tenor, bas {
        &.#{$voice} { background-image: url('/images/dionice/#{$voice}/link_desktop.jpg'); }
      }
    }
  }

  $cols: $main / 2;
  #arhiva, #article {
    article {
      @include span-columns($cols, $main);
      clear: left;
    }
    .go {
      @include reset-columns;
      a { padding-left: columns(2, $main); }
    }
  }

}
