@include at-breakpoint($desktop) {

  body {
    @include container;
  }

  #header {
    @include trailer(.5);
    background-image: url('/images/photos/desktop/header.jpg');
  }

  nav {
    a, .active { padding: rhythm(.5); }
  }

  $cols: 7;
  #highlight {
    @include span-columns($cols);
    h1 {
      $font-size: 54px;
      @include adjust-font-size-to($font-size);
      @include trailer(1, $font-size);
    }
  }
  $cols: $total-columns - $cols;
  #highlight ~ article {
    @include span-columns($cols omega);
    @include box-sizing(border-box);
    padding-left: 0;
    padding-right: rhythm(.5);
  }

  .go {
    @include span-columns($cols omega);
  }

  #albums {
    a {
      @include opacity(.8);
      &:hover { @include opacity(1); }
    }
  }

  #arhiva, #article {
    .post {
      @include pad(1, 4);
    }
  }

  #article {
    .img {
      float: none;
      height: auto;
      margin-left: 0;
    }
  }

}
