#footer {
  @extend %full-width;
  $height: 2;
  @include adjust-leading-to($height);
  @include padding-leader;
  @include clearfix;
  font-family: $heading;
  background: white;
  outline: 1px solid rgba(black, .25);

  ol { @include horizontal-list(10px); }

  li {
    @include with-font-size(38px) {
      @include trailer;
      height: rhythm($height);
    }
  }

  a:hover { text-decoration: none; }
}
