#footer {
  $font-size: 42px;
  $height: rhythm(2, $font-size);
  @include leading-border;
  @include adjust-font-size-to($font-size, 1.5);
  @include pie-clearfix;
  clear: both;
  padding-left: rhythm(.25);
  padding-right: rhythm(.25);
  font-family: $heading;
  line-height: $height;
  background: white;
  border-color: rgba(black, .2);
  img { max-height: 100%; }
  ol {
    @include horizontal-list(10px);
    padding: 0 rhythm(.25, $font-size);
  }
  li {
    @include trailer(1, $font-size);
    height: $height;
    position: relative;
  }
  a:hover { text-decoration: none; }
  .at {
    display: block;
    position: absolute;
    left: 0px;
    top: $height * .2;
  }
  .hrt {
    @include border-radius(5px);
    @include box-sizing(border-box);
    padding: 5px;
    background: white;
    border: 1px solid rgba(black, .2);
  }

}
