#header {
  @include pie-clearfix;
  background: url('/images/photos/header.jpg') no-repeat 50% 30%;
}

#logo {
  $font-size: 18px;
  @include adjust-font-size-to($font-size);
  @include trailer(0, $font-size);
  padding: rhythm(.5);
  @include text-shadow(rgba(black, .5) 1px 1px 1px);
  font: {
    family: $body;
    weight: normal;
  }
  text-transform: none;
  a {
    color: white;
    &:hover { text-decoration: none; }
  }
  img, span { display: block; }
}

nav {
  .facebook { margin-top: -5px; }
  clear: both;
  background: rgba(white, .75);
  text-transform: uppercase;
  ol {
    @include horizontal-list(0);
  }
  a {
    $color1: rgba(black, .3);
    $color2: rgba(black, .5);
    @include link-colors($color1, $color2, $color2, $color1, $color2);
  }
  .active { color: nth($colors, 5); }
  a, .active {
    display: block;
    padding: rhythm(.25) rhythm(.3);
  }
  .facebook {
    float: right;
    a {
      padding-bottom: 0;
      line-height: 0;
    }
  }
}

#screen-width {
  width: 80px;
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  text-align: center;
  background: rgba(black, .75);
  color: white;
}
