#header {
  @include trailer(.5);
  @include pie-clearfix;
  background: url('/images/photos/header.jpg') no-repeat 50% 60%;
}

#logo {
  $font-size: 20px;
  @include adjust-font-size-to($font-size);
  @include rhythm(0, 1, 0, 1.5, $font-size);
  @include text-shadow(rgba(black, .5) 1px 1px 1px);
  height: rhythm(10);
  margin-left: rhythm(.25);
  padding-left: rhythm(.5, $font-size);
  font: {
    family: $body;
    weight: normal;
  }
  text-transform: none;
  a {
    color: white;
    &:hover { text-decoration: none; }
  }
  img, span { display: block; }
}

nav {
  $font-size: 20px;
  $prefix: 8.75;
  @include adjust-font-size-to($font-size);
  @include prefix($prefix, $total-columns);
  background: rgba(white, .75);
  text-transform: uppercase;
  ol {
    @include horizontal-list(0);
  }
  a {
    $color1: rgba(black, .3);
    $color2: rgba(black, .5);
    @include link-colors($color1, $color2, $color2, $color1, $color2);
  }
  .active {
    color: nth($colors, 5);
  }
  a, .active {
    display: block;
    padding: rhythm(.5);
  }
  #facebook {
    float: right;
    a {
      padding-top: rhythm(.35);
      padding-bottom: 0;
      line-height: 0;
    }
  }
}
