#header {
  @extend %full-width;
  @extend %pie-clearfix;
  text-align: center;
  background: image-url('header.jpg') no-repeat 50% 0;
}

#logo {
  @include with-font-size($base-font-size) {
    @include rhythm(0, .5, .5, 0);

    a { @extend %inline-block; }
  }
}

#tagline {
  @include with-font-size($base-font-size) {
    @include text-shadow(rgba(black, .5) 1px 1px 1px);
    font: {
      family: $body;
      weight: normal;
    }
    text-transform: none;
    color: white;
  }
}
