@include establish-baseline;

html { background: darken(white, 5%); }

body {
  // @include debug-vertical-alignment;
  // @include susy-grid-background;
  @include container;
  -webkit-text-size-adjust: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  font-family: $body;;
  color: $text;
}

::selection, ::-moz-selection {
  @include text-shadow(none);
  background: nth($colors, 3);
  color: white;
}

#{headings()}, p, ol, ul, table, article, section, iframe {
  @include rhythm(0, 0, 0, .5);
}

#{headings()} {
  font: {
    family: $heading;
  }
  text: {
    transform: uppercase;
    rendering: optimizeLegibility
  }
}

strong {
  color: nth($colors, 3);
}

h1 {
  $font-size: 36px;
  @include adjust-font-size-to($font-size);
  @include trailer(1, $font-size);
}

a {
  @include hover-link;
  @include link-colors($link1, $link2, $link2, $link1, $link2);
}

img, iframe {
  max-width: 100%;
}

thead { display: none; }
