#multimedija [role='main'] > article {
  ul { @include unstyled-list; }
  li {
    @include trailer(.5);
    position: relative;
    padding: 0;
  }
  a {
    @include rhythm-borders($lines: .5);
    display: block;
    background: white;
    border-color: rgba(black, .2);
    &:before {
      content: url('/images/logo/facebook.png');
      display: block;
      position: absolute;
      bottom: 0px;
      right: 12px;
    }
  }
  span {
    @include leader(.5);
    display: block;
  }
  img, a { display: block; }
}
