#albums {
  ul { @include horizontal-list(0); }
  li {
    position: relative;
    height: rhythm(10);
    margin-right: rhythm(.25);
    margin-bottom: rhythm(.25);
  }
  img { max-height: 100%; }
  a {
    @include opacity(.75);
    &:hover {
      @include opacity(1);
      &:before {
        content: url('/images/logo/facebook.png');
        display: block;
        position: absolute;
        bottom: 0px;
        right: 6px;
      }
    }
  }
  img, a {
    display: block;
  }
}
