article, #highlight {
  h1 a {
    $color1: rgba(nth($colors, 3), .75);
    $color2: nth($colors, 3);
    @include color-link($color1, $color2);
  }
}

.post {
  @include trailing-border(1px, .5, $border-style: dashed);
  @include trailer;
  overflow: hidden;
  border-color: rgba(black, .2);
  &:last-of-type {
    @include padding-trailer(0);
    border-bottom: none;
  }

  img { max-width: none; }
}

body.article article img { max-width: 100%; }

time { color: lighten($text, 30%); }

.back a:before { content: '\2190\0020'; }
