article h1 a {
  $color1: rgba(nth($colors, 3), .75);
  $color2: nth($colors, 3);
  @include link-colors($color1, $color2, $color2, $color1, $color2);
}

.post {
  @include trailing-border($lines: .5, $border-style: dashed);
  @include trailer;
  border-color: rgba(black, .2);
  &:last-of-type {
    @include padding-trailer(0);
    border: 0;
  }
  img { max-width: none; }
  &, header { @include clearfix; }
}

time {
  display: block;
  color: lighten($text, 30%);
}

#index .go a:before { content: '\21E6 '; }

.back a:before { content: '\2190 '; }

#arhiva, #article {
  #header { @include trailer; }
}
