@include at-breakpoint($tablet-layout) {

  #header {
    height: 320px;
    text-align: left;
    background-image: image-url('header_tablet.jpg');
  }

  nav { @include trailer; }

  #header hgroup, #highlight, article, .go, #footer ol {
    max-width: $tablet-max-width;
    margin: {
      left: auto;
      right: auto;
    }
  }

  #highlight { @include trailer; }

  .go a {
    margin-left: 0;
    padding-left: rhythm(.25);
    border-left-width: 1px;
  }

  body {
    &.multimedija article {
      a {
        @include leading-border($lines: 13.25);
        @each $class in strike-a-pose, zbor-vladimir-prelog, susret-pjevackih-zborova, bozicni-koncert {
          &.#{$class} { background-image: image-url('multimedija/#{$class}_tablet.jpg'); }
        }
      }
    }

    &.dionice article {
      a {
        @each $voice in sopran, alt, tenor, bas {
          &.#{$voice} { background-image: image-url('dionice/#{$voice}/link_tablet.jpg'); }
        }
      }
    }
  }

}
