@include at-breakpoint($tablet, $mobile-font-size) {

  $base-font-size: 18px;
  @include establish-baseline;

  body {
    @include container;
  }

  #logo { text-align: left; }

  nav {
    $font-size: 20px;
    @include adjust-font-size-to($font-size);
  }

  #links {
    $font-size: 54px;
    $height: rhythm(3, $font-size);
    @include adjust-font-size-to($font-size);
    li {
      height: $height;
      line-height: $height;
    }
  }

}
