@include at-breakpoint($tablet) {

  body {
    @include container;
  }

  #logo { text-align: left; }

  #links {
    $font-size: 54px;
    $height: rhythm(3, $font-size);
    @include adjust-font-size-to($font-size);
    li {
      height: $height;
      line-height: $height;
    }
  }

}
