@include at-breakpoint($widescreen) {

  body {
    @include container;
    @include padding-trailer;
  }

  #header {
    background-image: url('/images/photos/widescreen/header.jpg');
  }

  #logo {
    @include trailer(1);
  }

  $main: $total-columns - 2;
  div[role='main'] {
    @include pad(1, 1);
  }

  $cols: 8;
  #highlight {
    @include span-columns($cols, $main);
    @include leader(-4);
    h1 {
      $font-size: 62px;
      @include adjust-font-size-to($font-size);
      @include trailer(1, $font-size);
    }
  }

  nav { @include prefix($cols + .75); }

  $cols: $main - $cols;
  #highlight ~ article {
    @include span-columns($cols omega, $main);
    padding-left: 0;
    padding-right: 0;
  }

  [role='main'] > .post {
    h1{ float: left; }
    .img, time { float: right; }
    .img {
      @include rhythm(.25, 0, 0, .25);
      margin-left: rhythm();
    }
    time { @include leader(.5); }
  }

  #footer {
    $font-size: 62px;
    $height: rhythm(4, $font-size);
    @include h-borders($font-size: $font-size);
    @include adjust-font-size-to($font-size);
    li {
      @include trailer(0, $font-size);
      margin: 0 10px;
      height: $height;
      line-height: $height;
    }
  }

  #multimedija [role='main'] > article {
    li {
      @include span-columns($cols / 2, $cols);
      margin-bottom: 0 0 gutter($cols) 0;
    }
  }

  #dionice [role='main'] > article {
    li {
      @include span-columns($cols / 2, $cols);
      margin-bottom: gutter($cols);
    }
    a {
      $font-size: 54px;
      @include rhythm-borders($lines: 6.5, $font-size: $font-size);
      @include adjust-font-size-to($font-size);
    }
  }

  #arhiva, #article {
    .post {
      @include suffix(0, $main);
      @include post(9, $main);
    }
  }

}
