@include at-breakpoint($widescreen-layout) {

  body { @include padding-trailer; }

  #header { background-image: image-url('header_widescreen.jpg'); }

  $cols: 8;
  #highlight {
    @include span-columns($cols);
    @include leader(-4);
    h1 {
      @include with-font-size(62px) {
        @include trailer(.5);
      }
    }
  }

  nav ol { margin-left: columns($cols) + gutter(); }

  $cols: $total-columns - $cols;
  article, .go {
    @include span-columns($cols omega);
  }

  .go a {
    margin-left: - gutter($cols);
    padding-left: gutter($cols);
    border-left: none;
  }

  .post {

    header { @include clearfix; }

    h1 { float: left; }

    time {
      float: right;
      @include adjust-leading-to(1.75);
    }
  }

  body {
    &.multimedija, &.dionice {
      article {
        li {
          @include span-columns($cols / 2, $cols);
          max-width: $widescreen-max-half-width;
          margin-bottom: gutter($cols);
          &:nth-child(2n) {
            @include remove-omega;
            margin-right: 0;
          }
        }
      }
    }

    &.multimedija article {
      a {
        @include leading-border($lines: 11.25);
        @each $class in strike-a-pose, zbor-vladimir-prelog, susret-pjevackih-zborova, bozicni-koncert {
          &.#{$class} { background-image: image-url('multimedija/#{$class}_widescreen.jpg'); }
        }
      }
    }

    &.dionice article {
      a {
        @include with-font-size(54px) {
          @include h-borders(1px, 5.5);
          @include v-borders;
          @each $voice in sopran, alt, tenor, bas {
            &.#{$voice} { background-image: image-url('dionice/#{$voice}/link_widescreen.jpg'); }
          }
        }
      }
    }

    &.arhiva, &.article {
      nav ol { margin-left: 0; }

      article { max-width: none; }

      .go {
        @include reset-columns;

        a {
          margin-left: - $grid-padding;
          padding-left: $grid-padding;
        }
      }
    }

    $cols: $total-columns / 2 - .5;
    &.arhiva article {
      @include span-columns($cols);
      @include nth-omega(2n, of-type);
      &:nth-of-type(2n+1) { clear: left; }
      &:nth-of-type(2n) { clear: right; }
    }

    $cols: $total-columns / 2;
    &.article article {
      @include span-columns($cols);
    }
  }

}
