#highlight ~ .post {
  &, header { @include clearfix; }
  h1{ float: left; }
  time {
    @include leader(.5);
    display: block;
  }
  img { max-height: 100%; }
  .img {
    height: rhythm(8);
  }
}

.go {
  $font-size: 20px;
  @include adjust-font-size-to($font-size);
  @include trailer(0, $font-size);
  text-align: right;
  a {
    $color1: rgba(black, .4);
    $color2: nth($colors, 5);
    @include link-colors($color1, $color2, $color2, $color1, $color2);
    padding: 0 rhythm(.25);
    background: rgba(black, .05);
  }
}
