.post {
  @include trailing-border($lines: .5, $border-style: dashed);
  @include trailer;
  border-color: rgba(black, .2);
  &:last-of-type { border: 0; }
  &, header { @include clearfix; }
  h1{ float: left; }
  time { display: block; }
  img { max-height: 100%; }
  .img { height: rhythm(8); }
}

.go {
  @include trailer;
  clear: right;
  text-align: right;
  a {
    $color1: rgba(black, .4);
    $color2: nth($colors, 5);
    @include link-colors($color1, $color2, $color2, $color1, $color2);
    padding: 0 rhythm(.25);
    background: rgba(black, .05);
  }
}
