.post {
  &, header { @include clearfix; }
  h1{ float: left; }
  time { @include leader(.5); }
  img { max-height: 100%; }
  .img, time { float: right; }
  .img {
    @include leader(.5);
    height: rhythm(8);
    margin-left: rhythm();
  }
}

.go {
  $font-size: 24px;
  @include adjust-font-size-to($font-size);
  @include trailer(0, $font-size);
  text-align: right;
  a {
    $color1: rgba(black, .4);
    $color2: nth($colors, 5);
    @include link-colors($color1, $color2, $color2, $color1, $color2);
    padding: 0 rhythm(.25);
    background: rgba(black, .05);
  }
}
