---
title: Alt
id: alt
---

- content_for :highlight do
  :markdown
    # Alt

    Ana Mišura
    : voditeljica altova

    Anita Crnčić
    : zamjenica za altove 1

    Ivana Buljan
    : zamjenica za altove 2

.go.back= link_to 'Dionice', @items.find { |item| item[:id] == 'dionice' }

%article
  :markdown
    # Altovi

    ![slika altova](/images/dionice/alt/ekipa.jpg)

    Koji ono glas one uopće pjevaju (lat. *altus* = visok)? Poistovjećuju se s cijelim zborom jer pjevaju sopranske visine, tenorske dubine, a zapravo su u isto vrijeme izvrsne i neprimijećene kao i basovi. Budući da se ne smiju žaliti kako im je pjesma "previsoka" ili "preniska", često uživaju u tajnim zavjerama kada namjerno pjevaju krivo samo kako bi soprani zvučali kao da su u falšu. Jedina dionica koju zapravo vole su basovi, i to zato što ih jedino u usporedbi s njima znaju pohvaliti.
