---
title: Alt
id: alt
---

- content_for :highlight do
  %article
    :markdown
      # Alt

      Ime          | Uloga
      ------------ | ---------------------------
      Anita Crnčić | voditeljica alta
      Ivana Zec    | zamjenica voditeljice alta

      ![slika Anite i Ivane](/images/dionice/alt/voditelji.jpg)

.go= link_to 'Dionice', @items.find { |item| item[:id] == 'dionice' }, :class => 'icon-arrow-left'

%article
  :markdown
    # Alti

    ![slika alta](/images/dionice/alt/ekipa.jpg)

    Koji ono glas one uopće pjevaju (lat. *altus* = visok)? Poistovjećuju se s cijelim zborom jer pjevaju sopranske visine, tenorske dubine, a zapravo su u isto vrijeme izvrsne i neprimijećene kao i basovi. Budući da se ne smiju žaliti kako im je pjesma "previsoka" ili "preniska", često uživaju u tajnim zavjerama kada namjerno pjevaju krivo samo kako bi soprani zvučali kao da su u falšu. Jedina dionica koju zapravo vole su basovi, i to zato što ih jedino u usporedbi s njima znaju pohvaliti. Ovu raznovrsnu družinu na uzdi drže uvijek vedra djeva **Anita Crnčić** i ažurna dama najdubljeg glasa **Ivana Zec**.
