---
title: Bas
id: bas
---

- content_for :highlight do
  %article
    :markdown
      # Bas

      Ime            | Uloga
      -------------- | ------------------------
      Marino Habulan | voditelj basova
      Gregor Cvjetić | zamjenik voditelja basova

      ![slika Marina i Gregora](/images/dionice/bas/voditelji.jpg)

.go.back= link_to 'Dionice', @items.find { |item| item[:id] == 'dionice' }

%article
  :markdown
    # Basovi

    ![slika basova](/images/dionice/bas/ekipa.jpg)

    Pjevaju samo jedan ton cijelu pjesmu, ali će se zato svojski potruditi da budu što glasniji. Budući da je uvijek nestašica basova, zbor ih drži kao kap vode na dlanu. Kad kažemo zbor, mislimo na altistice jer sopranistice i tenori ipak žive u paralelnom svemiru. Na basovske se dubine uvijek naježe alti misleći da taj njihov jedan ton daje smisao svakoj pjesmi. Ni jedan bas nije s Filozofskog fakulteta, pa za sebe tvrde da su jedini "pravi" muškarci u zboru. Ovi dečki definitivno su najčudnija i najsimpatičnija stvorenja, što potvrđuju i njihovi voditelji -- urnebesno zabavan **Marino Habulan** i tiha-voda-brege-dere **Gregor Cvijetić**.
