---
title: Bas
id: bas
---

- content_for :highlight do
  :markdown
    # Bas

    Gregor Cvijetić
    : voditelj basova

    Mak Krnic
    : zamjenik voditelja basova

.go.back= link_to 'Dionice', @items.find { |item| item[:id] == 'dionice' }

%article
  :markdown
    # Basovi

    ![slika basova](/images/dionice/bas/ekipa.jpg)

    Pjevaju samo jedan ton cijelu pjesmu, ali će se zato svojski potruditi da budu što glasniji. Budući da je uvijek nestašica basova, zbor ih drži kao kap vode na dlanu. Kad kažemo zbor, mislimo na altistice jer sopranistice i tenori ipak žive u paralelnom svemiru. Na basovske se dubine uvijek naježe alti misleći da taj njihov jedan ton daje smisao svakoj pjesmi. Nijedan bas nije s Filozofskog fakulteta, pa za sebe tvrde da su jedini "pravi" muškarci u zboru. Ovi dečki definitivno su najčudnija i najsimpatičnija stvorenja, što potvrđuju i njihovi voditelji.
