---
title: Sopran
id: sopran
---

- content_for :highlight do
  :markdown
    # Sopran

    Petra Pugar
    : voditeljica soprana

    Katarina Juras
    : zamjenica za soprane 1

    Ana Katarina Banovac
    : zamjenica za soprane 2

.go.back= link_to 'Dionice', @items.find { |item| item[:id] == 'dionice' }

%article
  :markdown
    # Soprani

    ![slika soprana](/images/dionice/sopran/ekipa.jpg)

    Osim vječnoga "diva sindroma", karakterizira ih konstantna zarazna energija. Kad ne pjevaju bez po' muke do b2, uvijek smognu snage za, često bučno, pričanje (pa čak i kad je 22:38, a proba je počela u 20h). O čemu? Nismo sigurni da to ovdje smijemo napisati. Sopranistice o altisticama misle da bi potajno željeli biti soprani, tenore vole jer s njima mogu pjevati duete, a basovi ih zapravo diraju u dušu. Miljenice su dirigenata, posebno Vinka, čijeg se citata "Ne možete se oglušiti na umjetnost soprana" uvijek prisjete s ponosom.
