---
title: Tenor
id: tenor
---

- content_for :highlight do
  %article
    :markdown
      # Tenor

      Ime             | Uloga
      --------------- | --------------------------
      Matej Pavlić    | voditelj tenora
      Branimir Gregov | zamjenik voditelja tenora

      ![slika Mateja i Branimira](/images/dionice/tenor/voditelji.jpg)

.go= link_to 'Dionice', @items.find { |item| item[:id] == 'dionice' }, :class => 'icon-arrow-left'

%article
  :markdown
    # Tenori

    ![slika tenora](/images/dionice/tenor/ekipa.jpg)

    Uvijek se žale kako im je pjesma previsoka. Zapravo mogu pjevati i puno više, ali to bi potvrdilo basovsku tezu da nijedan muškarac ne može toliko cviliti. Tenore je ipak nemoguće uvrijediti -- jedino mišljenje do kojeg je njima stalo je njihovo vlastito, a ako budu htjeli tuđe, dat će im ga. Karizmatični **Matej Pavlić** i živahni **Branimir Gregov** brinu se da se naši tenori ipak spuste na zemlju pa tu i tamo dođu na probu. Mnogi ovo ne znaju, ali oni su dionica koja najviše miče svojim obrvama za vrijeme pjevanja. Sve u svemu, oni su perfekcionisti, a to se odražava i na njihovo pjevanje.
