---
title: Tenor
id: tenor
---

- content_for :highlight do
  :markdown
    # Tenor

    Filip Klubička
    : voditelj tenora

    Filip Soldo
    : zamjenik za tenore 1

    Ivan Milat
    : zamjenik za tenore 2

.go.back= link_to 'Dionice', @items.find { |item| item[:id] == 'dionice' }

%article
  :markdown
    # Tenori

    ![slika tenora](/images/dionice/tenor/ekipa.jpg)

    Uvijek se žale kako im je pjesma previsoka. Zapravo mogu pjevati i puno više, ali to bi potvrdilo basovsku tezu da nijedan muškarac ne može toliko cviliti. Tenore je ipak nemoguće uvrijediti -- jedino mišljenje do kojeg je njima stalo je njihovo vlastito, a ako budu htjeli tuđe, dat će im ga. Vođe dionica brinu se da se naši tenori ipak spuste na zemlju pa tu i tamo dođu na probu. Mnogi ovo ne znaju, ali oni su dionica koja najviše miče svojim obrvama za vrijeme pjevanja. Sve u svemu, oni su perfekcionisti, a to se odražava i na njihovo pjevanje.
